@font-face {
    font-family: 'Amatic SC';
    src: url('../../Assets/fonts/Amatic_SC/AmaticSC-Regular.ttf');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family: 'Amatic SC';
    src: url('../../Assets/fonts/Amatic_SC/AmaticSC-Bold.ttf');
    font-weight: 700;
    font-style:normal;
}

@font-face{
    font-family: 'Apercu Mono';
    src: url('../../Assets/fonts/Apercu/ApercuMonoProLight.ttf');
    font-weight: 300;
    font-style:normal;
}

@font-face{
    font-family: 'Apercu Mono';
    src: url('../../Assets/fonts/Apercu/ApercuMonoProRegular.ttf');
    font-weight: 400;
    font-style:normal;
}

@font-face{
    font-family: 'Apercu Mono';
    src: url('../../Assets/fonts/Apercu/ApercuMonoProMedium.ttf');
    font-weight: 500;
    font-style:normal;
}

@font-face{
    font-family: 'Apercu Mono';
    src: url('../../Assets/fonts/Apercu/ApercuMonoProBold.ttf');
    font-weight: 600;
    font-style:normal;
}




@font-face {
    font-family: 'Titillium Web';
    src: url("../../Assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("woff");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url("../../Assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("woff");
    font-weight: 600;
    font-style: normal;
}
