//breakpoints

//320 pixels for mobile
$mobile-breakpoint: 20 rem;


// 640 pixels for tablet
$tablet-breakpoint: 40rem; 

//1280 pixels for desktop

$desktop-breakpoint: 64rem;


$fourKDisplay-breakpoint: 160rem;


