@font-face {
  font-family: "Amatic SC";
  src: url("../../Assets/fonts/Amatic_SC/AmaticSC-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Amatic SC";
  src: url("../../Assets/fonts/Amatic_SC/AmaticSC-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Apercu Mono";
  src: url("../../Assets/fonts/Apercu/ApercuMonoProLight.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Apercu Mono";
  src: url("../../Assets/fonts/Apercu/ApercuMonoProRegular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Apercu Mono";
  src: url("../../Assets/fonts/Apercu/ApercuMonoProMedium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Apercu Mono";
  src: url("../../Assets/fonts/Apercu/ApercuMonoProBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../Assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../../Assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  background-color: rgb(236, 198, 128);
  background-image: url(../images/wallpaper-of-pikachu.jpg);
  background-size: auto 695px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 64rem) {
  body {
    background-size: 1637px 749px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  /* margin-top: 0; */
  gap: 15px;
}
.nav__list-link {
  text-decoration: none;
}
.nav__list-toc {
  display: inline-block;
  text-align: center;
  width: 30%;
}
.nav__sub-two {
  margin-top: 1rem;
}
@media screen and (min-width: 40rem) {
  .nav__list-toc {
    width: 49.5%;
  }
}

.center {
  /* display:flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  flex-direction: column;
}
.center__buttons {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (min-width: 40rem) {
  .center__buttons {
    flex-direction: row;
  }
}
.center__btn__link {
  text-decoration: none;
}
.center__image {
  padding-bottom: 20px;
}
.center__poke-img {
  display: block;
  margin: auto;
  width: 60%;
  max-width: 578px;
  min-width: 200px;
}
@media screen and (min-width: 40rem) {
  .center__buttons {
    display: flex;
    gap: 16px;
    flex-direction: row;
  }
  .center__btn__link {
    text-decoration: none;
  }
  .center__image {
    padding-bottom: 20px;
  }
  .center__poke-img {
    display: block;
    margin: auto;
    width: 60%;
    max-width: 578px;
    min-width: 200px;
  }
}

.footer {
  display: flex;
  justify-content: right;
  padding-top: 200px;
}
.footer__public-domain {
  font-size: 12px;
  padding-right: 10px;
}
.footer__link {
  text-decoration: none;
}/*# sourceMappingURL=styles2.css.map */